<nav class="recruiterbar">
  <p>Son Trinh | Appointments</p>
</nav>
<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>
  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.availability %>
    </div>
  <% end %>
<% end %>
