<h1>Select a Date</h1>
<h2>This is the recruiter view </h2>
<%= link_to 'Schedule Time', new_appointment_path, class: 'button radius' %>
<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>
  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.location, edit_recruiter_appointment_path(appointment.id) %>
    </div>
  <% end %>
<% end %>
