.appointments-edit {
  padding: 20%;

  div.content {
    @include span-columns(12);

    .logo {
      @include span-columns(2 of 12);
    }

    .message {
      @include span-columns(10 of 12);
      margin-top: 20px;

      h1 {
        font-size: 2em;
        color: #466EA1;
      }

      a {
        color: #466EA1;
      }

      p {
        font-size: 20px;
      }

      h2 {
        margin-top: 20px;
        font-style: italic;
        color: #80BB05;
        font-size: 20px;
      }
    }
  }
}
