body.devise-sessions.devise-sessions-new {
  div.form{

    padding: 15%;
    font-family: Arial;

    input.btn {
      background-color: #427BFF;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    a {
      color: #427BFF;
    }

    h2 {
      margin-top: 50px;
      color: #427BFF;
      font-size: 2em;
    }
  }
}
