@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "topbar";
@import "candidatebar";

@font-face {
  font-family: bullhorn;
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
}

body {
  color: #222222;
}

header.calendar-header {
  a {
    font-size: 30px;
    color: #2F384F;
  }

  span {
    font-size: 30px;
  }
}

table {
  th, tr {
    text-align: center;
    padding: 0;
  }
  td {
    vertical-align: center;
  }

  hr {
    margin: 0;
  }
}

div.candidate {
  font-family: Helvetica;
  background-color: #f4f4f4f;
}

div.candidate-calendar {
  max-width: 705px;
  margin-left: 3em;
  margin-right: 3em;

  p {
    color: #f4f4f4;
    font-size: 20px;
  }

  a {
    color: #f4f4f4;
    font-size: 20px;
  }

  .date {
    background-color: #2F384F;
    padding: 2px;
    margin: 5px 5px 5px 2px;
    border-radius: 1%;
    color: #FFFFFF;
  }

  .candidate_date {
    background-color: #0239B8;
    padding: 2px;
    margin: 5px 15px 15px 12px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Helvetica;
  }
}

div.booked_appointment {
  height: 150px;
  padding: 40px;
  margin: 10px 15px 15px 12px;
  background-color: #6996FF;
}

div.available_appointment {
  height: 150px;
  padding: 40px;
  margin: 10px 15px 15px 12px;
  background-color: #195EFE;
}

div.calendar {
  margin-left: 40px;
  margin-right: 40px;
  height: 100%;
  background-color: #BBE4F9;
  border-radius: 1%;
  padding: 10px;
}

div.recruiter_booked_appointment {
  background-color: #F4F4F4;
  border-style: solid;
  border-color: #FFAA44;
  border-width: thick;
  height: 100px;
  padding: 10px;
  margin: 10px 5px 5px 2px;
  border-radius: 3%;
  font-size: 0.8em;
}

div.recruiter_available_appointment {
  background-color: #f4f4f4f;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: thick;
  height: 100px;
  padding: 10px;
  margin: 10px 5px 5px 2px;
  border-radius: 1%;
  font-size: 0.8em;
}

div.recruiter_calendar {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  height: 100%;
  border-radius: 1%;
  padding: 0px;

  a {
    color: #222222;
  }
}

body.devise-sessions.devise-sessions-new {
  padding: 15%;
  font-family: Arial;
}

body.devise-registrations.devise-registrations-new {
  div.form {
    padding: 10% 10% 10% 15%;
    font-family: Arial;
    max-width: 750px;
  }

  h3 {
    font-size: 1.5em;
  }

  div.content {
    @include span-columns(12);
  }

  h2 {
    font-size: 2em;
    color: #477DCA;
  }

  div.form-actions {
    margin-bottom: 15px;
  }
}

.appointments-edit {
  padding: 20%;
}
