<%= simple_form_for [appointment], method: :patch do |f| %>
  <%= f.hidden_field :booked, booked: appointment.booked %>
      <% appointment.booked = true %>
      <% appointment.user = current_user %>
      <% appointment.save %>
      <h1>It's yours!</h1>
      <p><%= appointment.scheduled_time.strftime("%A, %B %d")%>th at  <%appointment.scheduled_time.strftime("%l:%M% P")%>
        has been booked for you!</p>
<% end %>
<%= link_to "Return to Schedule", appointments_path %>
