<h1>Select a Date</h1>
<%= link_to 'Recruiter Portal', recruiter_appointments_path, class: 'button radius' %>
<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>
  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.location %>
    </div>
  <% end %>
<% end %>
